.profile-wrapper {
    position: relative;
  }
  
  .profile-name {
    position: absolute;
    top: calc(100% - 50px);
    left: 50%;
    transform: translateX(-130%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
  }
  
  .profile-wrapper:hover .profile-name {
    display: block;
  }
  